<%- include("template/header",{tituloP:`Detalle de mascota`}) %>
            <% if (error) { %>
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div class="modal-body text-center">
                    <p> <%= mensaje %>  </p>
                    <a href="/mascotas" class="btn btn-warning btn-block my-4">Volver a tabla de mascotas</a>
                </div>
            </div>
        </div>
            <% } %>
    <% if (!error) { %>
        <a href="/mascotas" class="btn btn-primary my-4"><i class="fas fa-arrow-circle-left"></i></a>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><%= mascota?.id %> </th>
                    <td ><%= mascota?.nombre %> </th>
                    <td ><%= mascota?.descripcion %> </th>
                    <td><button id="deleteBtn" data-id="<%= mascota?.id %>" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
        </table>
    <% } %>
<%- include("template/footer") %> 

<script>
    const deleteBtn = document.querySelector("#deleteBtn");

    deleteBtn.addEventListener('click',async()=>{
        console.log('Me diste click');
        const id = deleteBtn.dataset.id;
        console.log('id =',id);
        try{
            const data = await fetch(`/mascotas/${id}`,{method: 'delete'});
            const res = await data.json()
            console.log(res);

            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                
            }
        }catch(e){
            console.log(e);
        }
    });
</script>